<!-- 
<body>
    <nav>
          <ul>
            <h1><i>Welcome to EcoWood Creations</i></h1>
            <input type="search" placeholder="search for products">
            <li><a routerLink="/nav">Home</a></li>
            <li><a routerLink="/products">Products</a></li>
            <li><a routerLink="/Login">Login</a></li>
            <li><a routerLink="/signUp">Sign up</a></li>
          </ul>
    </nav>
    <div class="row">
      <div class="col-4">
        <div class="content">
          <h1>Make your Home
            <br><br>
            Different
          </h1>
          <div id="btn1"><button routerLink="/signUp">Shop Now</button></div>
        </div>
      </div>
  
      <div class="col-8">
        <div style="padding-left: 150px;padding-right: 150px;" >
          <ngb-carousel interval="2000">
            <ng-template ngbSlide  *ngFor="let image of images">
              <div style="text-align: center;">
                <img src="assets/image/{{image.imge}}" width="700" height="350" [alt]="image.caption">
                <div class="carousel-caption">{{image.caption}}</div>
              </div>
            </ng-template>
          </ngb-carousel> 
        </div>
      </div>
    </div>
  </body>
  
  
  
   -->
